<!--Added by ssiddiqui -->
<style type='text/css'>
	#rt{
    margin-left : 20px;
	}
	
	#btn{
		margin-top : 20px;
    margin-right : 55px;
    float: right;
	}
</style>

<!--Added by ssiddiqui -->
<div id="btn">
	<%= button_to "Delete All Providers", "/admin/remove_providers", 'method' => 'delete', 
		:confirm => "Are you sure you want to delete all the providers?", 'class' => 'btn-large btn-danger'%>
</div>	

<%= render partial: 'edit_profile', locals: {provider: Provider.new} %>

<!--Added by ssiddiqui -->
<div id="rt">
	<%= paginate @providers %>
</div>

<%= render partial: 'provider_list', locals: {providers: @providers} %>

<!--Added by ssiddiqui -->
<div id="rt">
	<%= paginate @providers %>
</div>
