<hr style='margin-bottom:-5px'>
<div style="padding-left:40px; padding-right:40px">
	<table class="table-condensed" style="width:100%">
		<td> <h2><strong>Patient List</strong></h2> </td>
		<td colspan='2' align='right'>	
		
		</td>
	</table>
</div>
<hr style="margin-top:-5px">

<div id="pageContent" style="margin-left:40px; margin-right:40px">

	<table id="adminPatientTable" class="display table-bordered table-hover">
			<thead>
				<tr>
					<th>Last Name</th>
					<th>First Name</th>
					<th> Date of Birth </th>
					<th> Age </th>
					<th> Practice </th>
					<th> Patient ID</th>
					<th/>
				</tr>
			</thead>
			
			<tbody>
				<% @records.each do |record| %>
					<tr>
						<td><%= record.last %></td>
						<td><%= record.first %></td>
						<td> <%= Time.at(record.birthdate).strftime('%m/%d/%Y') %> </td>		
						<td> <%= Time.now.year - Time.at(record.birthdate).year %></td>
						<td> <%= record.practice if record.practice != nil%></td>
						<td> <%= record.medical_record_number %> </td>
						<td> <%= link_to "View Patient Summary", :controller => "patients", :action => "show", :id => "#{record._id}"%> </td>
					</tr>
				<% end %>
			</tbody>
		</table>
		
</div>
