
<div class='form-inline'>
<%= form_for(@practice) do |f| %>
  <% if @practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
      <% @practice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4> Create Practice </h4>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>

<% end %>
</div>
